$rem-baseline: 16;

$product-hover: 0px 0px 2px 2px #8888887a;
$card-title-color:#3a3a3a;
$summary-color:#898989;
$nodiscount-color:#ccc;
$add-cart-bgcolor:#f27a1a;
$add-cart-hover:#bd5908;
$btn-txt-color:#ffffff;
$font-family:'Gilroy-Regular', sans-serif;
$fav-border-color:#ccc;
$fav-hover-border-color:rgb(133, 133, 133);
$fav-hover-bgcolor:rgb(247, 247, 247);
